{% extends 'base.html.twig' %}
{% block body %}
<div class="row map" onload="initMap()">

	<button id="play" type="button" class="btn btn-warning">Jouer</button>
	<div id="map" class="col-lg-10 col-lg-offset-1"></div>
</div>   
{% endblock %}